body {
    margin: 0px;
    padding: 0px;
    background: black;
  }

p {
    font-family: 'Calligraffitti', cursive;
    color: white;
  }

a {
    color: rgb(197, 78, 75);
}

a:hover, a:active, a:focus, a:visited {
    color: rgb(197, 78, 75);
    text-decoration: none;
}

.banner {
  text-align: center;
}

.social {
  text-align: center;
  font-size: 5em;
}

.social i {
  padding: 5px 20px 5px 20px;
}

@media screen and (max-width: 768px) {
  .social {
    font-size: 4em;
  }
  .social i {
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 576px) {
  .social {
    font-size: 3em;
  }
}

#title {
  padding-top: 80px;
}

.album {
  /* margin-top: 15px; */
  text-align: center;
  font-size: 3em;
}

@media screen and (max-width: 768px) {
  .album {
    font-size: 2em;
  }
  #title {
    padding-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .album {
    font-size: 1.25em;
  }
  #title {
    padding-top: 45px;
  }
  .listen {
    text-align: center;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .album {
    font-size: 1em;
  }
  #title {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .my-auto {
    padding: 50px 0 0 0;
  }
}

.main {
    font-size: 3em;
    margin: 100px 0 50px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main {
      font-size: 2em;
      margin: 50px 0 30px 0;
    }
  }

  @media screen and (max-width: 576px) {
    .main {
      font-size: 1.75em;
      margin: 50px 0 30px 0;
    }
  }

  @media screen and (max-width: 320px) {
    .main {
      font-size: 1.25em;
      margin: 50px 0 30px 0;
    }
  }

  .video {
    padding: 100px 10px 20px 10px
  }

  @media screen and (max-width: 768px) {
    .video {
      padding: 50px 10px 20px 10px
    }
  }

  @media screen and (max-width: 576px) {
    .video {
      padding: 40px 10px 30px 10px
    }
  }

  @media screen and (max-width: 320px) {
    .video {
      padding: 30px 10px 0 10px
    }
  }

  #video {
    /* overflow: hidden; */
    padding-bottom: 56.25%;
    position: relative;
    /* height: 0; */
  }
  
  #video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .footer {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
  }

  .footer img {
    padding: 5px 0 5px 0;
  }

  @media screen and (max-width: 768px) {
    .footer i {
      padding: 0 5px 0 5px;
    }
  }